:root {
  --primary-blue: #3b82f6;
  --primary-blue-dark: #2563eb;
  --gray-800: #1f2937;
  --neutral-400: #9ca3af;
  --neutral-900: #111827;

  /* Dark mode variables */
  --bg-dark: #111827;
  --text-dark: #ffffff;
  --border-dark: #374151;
}
body {
  padding: 1.5rem 2rem;
}
#darkModeToggle {
  padding: 0.7rem 1.5rem;
  border-radius: 7px;
  background-color: var(--primary-blue-dark);
  color: var(--text-dark);
  border: none;
  float: right;
  font-size: 1em;
  cursor: pointer;
}
.hero {
  margin: 6rem auto 0 auto;
}
.hero-grid {
  display: flex;
  align-items: center;
}
.content-col {
  width: 40%;
  padding: 0 5rem;
}
.content-col h1 {
  font-size: 5em;
}
.content-col p {
  font-size: 1.75em;
  margin-top: -2rem;
}
.cta-group {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 2.5rem 0 3rem 0;
}
input[type="text"] {
  padding: 0.9rem 1.5rem;
  width: 300px;
  border-radius: 10px;
  border: 2px solid var(--neutral-400);
  font-size: 1.1em;
  color: var(--neutral-900);
}
.demo-button {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--primary-blue);
  color: var(--text-dark);
  border: none;
  font-size: 1em;
}
.demo-button:hover {
  background-color: var(--primary-blue-dark);
}
.trusted-by {
  font-size: 1.75em;
  font-weight: 600;
}
.brand-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
.brand-logo {
  width: 100px;
}
.image-col {
  width: 50%;
}
.hero-image {
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

input[type="text"].dark {
  outline: none;
}
input [type="text"]:focus {
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--neutral-400);
}
@media only screen and (max-width: 700px) {
  body {
    padding: 1.5rem 1rem;
  }
  .hero-grid {
    flex-direction: column-reverse;
  }
  .content-col {
    width: 100%;
    padding: 0 8px;
  }
  .content-col h1 {
    font-size: 3.25em;
  }
  .content-col p {
    font-size: 1.5em;
    margin-top: -1rem;
  }
  .cta-group {
    flex-wrap: wrap;
  }
  input[type="text"] {
    width: 100%;
  }
  .image-col {
    width: 100%;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  body {
    padding: 1.5rem 2rem;
  }
  .hero-grid {
    flex-direction: column-reverse;
  }
  .content-col {
    width: 100%;
    padding: 0 8px;
  }
  .cta-group {
    flex-wrap: wrap;
    gap: 3.5rem;
  }
  input[type="text"] {
    width: 100%;
  }
  .image-col {
    width: 100%;
  }
}
